@font-face {
  font-family: Perfo;
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/Perfo-Oval.ttf');
}
section {
  display: block;
}
*:hover,
*:active,
*:focus {
  outline: 0;
}
body *,
body *:before,
body *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}
#container {
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
#track,
#start,
#finish,
#info {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 620px;
}
#track {
  background: #dfdfdf /* url('track-bg.jpg')*/;
  height: 100%;
  list-style: none;
  margin-top: 90px;
  padding: 0;
  position: relative;
}
#track li {
  display: block;
  float: left;
  height: 100%;
}
#track li.win {
  box-shadow: inset -20px -20px 100px 0 rgba(112, 195, 59, 0.75);
}
#track li:not(:last-child) {
  border-right: 1px dashed #fff;
  width: 33%;
}
#track li:last-child {
  width: 34%;
}
.b-init,
.b-go,
#info,
#finish {
  color: #fff;
  font-size: 1.5em;
  padding: .5em;
  font-weight: 600;
}
#panel-b,
#info,
#start,
#finish {
  display: block;
  position: absolute;
  z-index: 1;
}
#start {
  background: #ccc;
  border-bottom: 1px solid white;
  color: #dadada;
  font-size: 4em;
  line-height: 1.1em;
  height: 100px;
  padding: 0;
  top: 0;
  z-index: 0;
}
#finish {
  background: #f00;
  border-top: 1px solid white;
}
#panel-b {
  bottom: 0;
  font-size: .75em;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
}
#panel-b button {
  background-color: yellowgreen;
  border: 3px solid #090;
  border-radius: 1em;
  margin: 1em 0;
  width: 10em;
  cursor: pointer;
}
#info {
  background-color: #000;
  border: 0;
  font-size: 1.2em;
  padding: 10px;
}
#info td,
#info th {
  font-size: .75em;
  background: #000000 url('/images/bg.png');
  border: 1px solid #333;
  color: #ff0;
  font-weight: 100;
  font-family: Perfo;
  letter-spacing: .1em;
  padding: .5em;
  text-align: left;
}
#info td:first-child,
#info th:first-child {
  width: 180px;
}
#info td:not(:first-child),
#info th:not(:first-child) {
  width: 140px;
}
#info td.active {
  background-image: url('/images/bg-active.png');
}
#info-full {
  background-color: gray;
  border: 0;
  border-collapse: collapse;
  color: #ffffff;
  font-size: .65em;
  padding: 0;
}
#info-full td,
#info-full th {
  border: 1px solid #333;
  font-weight: 100;
  font-family: Arial;
  letter-spacing: .1em;
  padding: .5em;
  text-align: left;
}
#info-full td:first-child,
#info-full th:first-child {
  width: 100px;
}
#info-full td:not(:first-child),
#info-full th:not(:first-child) {
  width: 80px;
}
#info-full td.active {
  background-image: url('/images/bg-active.png');
}
#panel-message {
  background: #f00;
  color: #fff;
  border: 1px solid;
  display: none;
  font-size: 2em;
  left: 0;
  margin: 0 auto;
  padding: .5em;
  position: fixed;
  right: 0;
  top: 90px;
  width: 15em;
  z-index: 100;
}
.bug {
  position: relative;
  transform: scale(1, -1);
}
.bug,
.bug-body,
.bug-body:after,
.bug-body:before {
  display: inline-block;
  height: 85px;
  left: 0;
  top: 0;
  width: 65px;
}
.bug-body {
  background-repeat: no-repeat;
  top: 85px;
  position: absolute;
  z-index: 1;
  transform: rotate(0deg);
  animation: head-a 2s linear 0s infinite normal forwards;
  -webkit-animation: head-a 2s linear 0s infinite normal forwards;
}
.bug-body span {
  background-image: url('/images/top-leg.png');
  display: block;
  height: 21px;
  position: relative;
  width: 16px;
  z-index: 0;
  animation: top-leg-a 1.5s linear 0s infinite normal forwards;
  -webkit-animation: top-leg-a 1.5s linear 0s infinite normal forwards;
}
.bug-body span:nth-child(odd) {
  margin-top: -4px;
  margin-left: 2px;
  animation: top-leg-a 1.5s linear 0s infinite normal forwards;
  -webkit-animation: top-leg-a 1.5s linear 0s infinite normal forwards;
}
.bug-body span:nth-child(even) {
  transform: scale(-1, 1);
  margin-left: 48px;
  margin-top: -21px;
  animation: top-leg-even-a 1.5s linear 0s infinite normal forwards;
  -webkit-animation: top-leg-even-a 1.5s linear 0s infinite normal forwards;
}
.bug-body span:nth-child(1) {
  margin-top: 21px;
}
.bug-body span:nth-child(2) {
  animation-delay: .1s;
}
.bug-body span:nth-child(3) {
  animation-delay: .2s;
}
.bug-body span:nth-child(4) {
  animation-delay: .3s;
}
.bug-body span:nth-child(5) {
  margin-top: 5px;
  animation-delay: .4s;
  animation: bottom-leg-a 1.5s linear 0s infinite normal forwards;
  -webkit-animation: bottom-leg-a 1.5s linear 0s infinite normal forwards;
  transform: scale(1, -1);
}
.bug-body span:nth-child(6) {
  animation-delay: .5s;
  transform: scale(-1, -1);
  animation: bottom-leg-even-a 1.5s linear 0s infinite normal forwards;
  -webkit-animation: bottom-leg-even-a 1.5s linear 0s infinite normal forwards;
}
.bug-body:after,
.bug-body:before {
  content: ' ';
  position: absolute;
}
.bug-body:after {
  animation: body-a 2s linear 0s infinite normal forwards;
  -webkit-animation: body-a 2s linear 0s infinite normal forwards;
  z-index: 2;
}
.bug-body:before {
  animation: body-a 2s linear 0.05s infinite normal forwards;
  -webkit-animation: body-a 2s linear 0.05s infinite normal forwards;
  z-index: 3;
}
.bug .win,
.bug .win .bug-body:after,
.bug .win .bug-body:before,
.bug .win .bug-body span {
  animation-play-state: paused;
}
.bug[data-id="1"] .bug-body {
  background-image: url('/images/head.png');
}
.bug[data-id="1"] .bug-body:after {
  background-image: url('/images/body-1.png');
}
.bug[data-id="1"] .bug-body:before {
  background-image: url('/images/body-2.png');
}
.bug[data-id="2"] {
  filter: hue-rotate(90deg);
}
.bug[data-id="2"] .bug-body {
  background-image: url('/images/head.png');
}
.bug[data-id="2"] .bug-body:after {
  background-image: url('/images/body-1.png');
}
.bug[data-id="2"] .bug-body:before {
  background-image: url('/images/body-2.png');
}
.bug[data-id="3"] {
  filter: hue-rotate(-110deg);
}
.bug[data-id="3"] .bug-body {
  background-image: url('/images/head.png');
}
.bug[data-id="3"] .bug-body:after {
  background-image: url('/images/body-1.png');
}
.bug[data-id="3"] .bug-body:before {
  background-image: url('/images/body-2.png');
}
.bug.s-3 .bug-body span {
  animation-duration: 1.5s;
}
.bug.s-2 .bug-body span {
  animation-duration: 1s;
}
.bug.s-1 .bug-body span {
  animation-duration: .5s;
}
@keyframes head-a {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes body-a {
  0% {
    left: 0;
  }
  25% {
    left: -1px;
  }
  50% {
    left: 0;
  }
  75% {
    left: 1px;
  }
  100% {
    left: 0;
  }
}
@keyframes top-leg-a {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes top-leg-even-a {
  0% {
    transform: scale(-1, 1) rotate(0deg);
  }
  25% {
    transform: scale(-1, 1) rotate(15deg);
  }
  50% {
    transform: scale(-1, 1) rotate(0deg);
  }
  75% {
    transform: scale(-1, 1) rotate(-15deg);
  }
  100% {
    transform: scale(-1, 1) rotate(0deg);
  }
}
@keyframes bottom-leg-a {
  0% {
    transform: scale(1, -1) rotate(0deg);
  }
  25% {
    transform: scale(1, -1) rotate(15deg);
  }
  50% {
    transform: scale(1, -1) rotate(0deg);
  }
  75% {
    transform: scale(1, -1) rotate(-15deg);
  }
  100% {
    transform: scale(1, -1) rotate(0deg);
  }
}
@keyframes bottom-leg-even-a {
  0% {
    transform: scale(-1, -1) rotate(0deg);
  }
  25% {
    transform: scale(-1, -1) rotate(15deg);
  }
  50% {
    transform: scale(-1, -1) rotate(0deg);
  }
  75% {
    transform: scale(-1, -1) rotate(-15deg);
  }
  100% {
    transform: scale(-1, -1) rotate(0deg);
  }
}
@keyframes leg-a {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#info thead {
  display: none;
}
/*#container.win .bug span:nth-child(odd){
    animation: leg-down-odd-a 3s linear 0s 1 normal forwards;
    -webkit-animation: leg-down-odd-a 3s linear 0s 1 normal forwards;
}*/
@keyframes leg-down-odd-a {
  0% {
    transform: rotate(45deg);
    margin-left: -0.7em;
  }
  50% {
    transform: rotate(0deg);
    margin-left: -0.7em;
  }
  100% {
    transform: rotate(0deg);
    margin-left: -0.5em;
  }
}
/*
#container.win .bug span:nth-child(even){
    animation: leg-down-even-a 3s linear 0s 1 normal forwards;
    -webkit-animation: leg-down-even-a 3s linear 0s 1 normal forwards;
}
*/
@keyframes leg-down-even-a {
  0% {
    transform: rotate(45deg);
    margin-left: .7em;
  }
  50% {
    transform: rotate(0deg);
    margin-left: .7em;
  }
  100% {
    transform: rotate(0deg);
    margin-left: .5em;
  }
}
